<link href='https://fonts.googleapis.com/css?family=Anonymous+Pro:700' rel='stylesheet' type='text/css'>
<div class="container">
  <div class="page-header">
    <h2>ラピカの履歴データ</h2>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-primary" ng-click="parse()">Parse</button>
      <button type="button" class="btn btn-default" ng-click="clear()">Clear</button>
      <button type="button" class="btn btn-default" ng-click="add()">Add</button>
    </div>
    <div class="input-group input-group-sm" ng-repeat="r in rapica" >
      <span class="input-group-addon">バイナリ</span>
      <!--<input type="text" class="form-control" ng-model="rapica[$index].hexData"></input>-->
      <input type="text" class="form-control" style="height:30px;font-size:20px;font-family: 'Anonymous Pro', ;" ng-model="rapica[$index].hexData"></input>
      <span class="input-group-btn">
        <button type="button" class="btn" ng-click="add($index)">+</button>
        <button type="button" class="btn" ng-click="remove($index)">x</button>
      </span>
    </div>
  </div>
  <div>
    <h2>履歴データの解析結果</h2>
    <table class="table" ng-dblclick="onselect('')">
      <thead ng-click="onselect('')">
        <th>要素</th>
        <th colspan="{{rapica.length}}">データ</th>
      </thead>
      <tbody id="tableRows">
        <tr ng-repeat="r in rapica">
          <td ng-if="$index === 0" rowspan="{{rapica.length}}"><b>履歴データ</b></td>
          <td class="hexData"
              colSpan="{{rapica.length}}"
              ng-click="onselectHex($event, $index)"
              ng-bind-html="r.hexDataHtml"
              style="font-size:20px;font-family: 'Anonymous Pro', ;"></td>
        </tr>
        <tr class="date" ng-click="onselect('date')">
          <td><b>日付</b></td>
          <td ng-repeat="r in rapica">{{ r.date | date: 'yyyy/MM/dd HH:mm'}}</td>
        </tr>
        <tr class="corp" ng-click="onselect('corp')">
          <td><b>運営会社</b></td>
          <td ng-repeat="r in rapica">{{ r.corp }}</td>
        </tr>
        <tr class="busGroup" ng-click="onselect('busGroup')">
          <td><b>系統</b></td>
          <td ng-repeat="r in rapica">{{ r.busGroup }}</td>
        </tr>
        <tr class="busStop" ng-click="onselect('busStop')">
          <td><b>バス停</b></td>
          <td ng-repeat="r in rapica">{{ r.busStop }}</td>
        </tr>
        <tr class="device" ng-click="onselect('device')">
          <td><b>装置</b></td>
          <td ng-repeat="r in rapica">{{ r.device }}</td>
        </tr>
        <tr class="using" ng-click="onselect('using')">
          <td><b>使用種別</b></td>
          <td ng-repeat="r in rapica">{{ r.using }}</td>
        </tr>
        <tr class="remain" ng-click="onselect('remain')">
          <td><b>残額</b></td>
          <td ng-repeat="r in rapica">{{ r.remain }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>